.s-gallery{
    .col-item{
        width:20%;
        &:first-child{
            width:39.93333333333333%;
            .Tile__inner{
                padding-bottom: 50.1%;
            }
        }
    }
    

    @media(max-width:1023px){
        .col-item{
            width:25%;
            &:first-child{
                width:100%;
                .Tile__inner{
                    padding-bottom: 35.25%;
                }
             
            }
        }
    }

    @media(max-width:850px){
        .col-item{
            width:33.33333%;
        }
    }
    @media(max-width:756px){
        .col-item{
            width:50%;
        }
    }

    @media(max-width:500px){
        .col-item{
            &:first-child{
                .Tile__inner{
                    padding-bottom: 0;
                    height: auto;
                    padding:48px 0;
                }
                .Tile__content{
                    position: static;
                    height: auto;
                }
            }
        }
    }

    @media(max-width:400px){
        .col-item{
            width:100%;
        }
    }

    @media(max-width:360px){
        .headertxt-gallery{
            padding:17px 28px;
        }
    }


}