.NavItems {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index: 1000;
    transition:.2s ease-in-out;

    .main-logo{
        position: absolute;
        top:35px;
        left:50%;
        transform:translateX(-50%);
        width:260px;
        transition:.2s ease-in-out;
        img{
            max-width: 100%;
            height: auto;
        }
    }
    &__wrapper {
        max-width: 770px;
        margin: 0 auto;
        position: relative;
    }
    &--list {
        display: flex;
        width: 100%;
        li {
            padding: 0 15px;
            position: relative;
            &:nth-child(3) {
                margin-right: auto;
            }
            a {
                text-transform: uppercase;
                font-family: inherit;
                font-size: 12px;
                color: #000;
                text-decoration: none;
                position: relative;
                line-height: 136px;
                transition:.2s ease-in-out;
                &:before{
                    content:'';
                    position: absolute;
                    bottom:-5px;
                    width:0;
                    height: 2px;
                    background-color: #000;
                    transition:width .2s ease-out;
                }

                &:hover{
                    &:before{
                        width:100%;
                    }
                }
            }
        }
    }
    &.scrolled, &--isMobile{
        background-color: #fff;
        position: fixed;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);

        .main-logo{
            width:220px;
            top:16px;
        }
        .NavItems--list li a{
            line-height: 90px;
        }
    }

    &--isMobile{
        .NavItems__wrapper{
            height: 90px;
        }
        .NavItems--list--mobile{
           width:100%;
            li{
                padding:0;
            }
            li a{
                background-color: #fff;
                display: block;
                line-height: 70px;
                color: black;
                text-decoration: none;
                text-align: center;
                font-size: 42px;
                text-transform: uppercase;
                span{
                    position: relative;
                    &:before{
                        content:'';
                        display: block;
                        position: absolute;
                        top:50%;
                        left:0;
                        width:0;
                        height: 3px;
                        background-color: #000;
                        transform:translateY(-50%);
                        transition: width .2s ease-out;
                    }
                }
                &:hover{
                    span{
                        &:before{
                            width:100%;
                        }
                    }
                }
            }
            
        }
        .NavItems--isMobile__wrapper{
            display: flex;
            align-items: center;
            position: fixed;
            top:0;
            right:0;
            width:0;
            height: 0;
            z-index: 99999;
            transform-origin: 100% 0;
            background-color: #fff;
            overflow: auto;
            transition:all .2s ease-in-out;
        }
        .NavItems--isMobile__closebtn{
            position: absolute;
            top:24px;
            right:24px;
            font-size: 48px;
            cursor: pointer;
            &:hover{
                color:#e7e5d0;
            }
        }
        &--open{
            .NavItems--isMobile__wrapper{
                width:100%;
                height: 100vh;
            }
        }
    }
    
}