.TeamTile {
    position: relative;
    &:before {
        pointer-events: none;
        position: absolute;
        display: block;
        content: '';
        width: 0;
        height: 0;
        left:-12px;
        z-index: 2;
        top:20%;
        border-style: solid;
        border-width: 11.5px 14px 11.5px 0;
        border-color: transparent #ccc8b6 transparent transparent;
    }
    &__inner {
        text-align: center;
        padding: 0 24px;
        box-sizing: border-box;
       
    }
    &__name {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 24px;
        margin-bottom: 12px;
    }
    &__desc {
        font-size: 14px;
        text-align: left;
    }

    &__social-links{
        display: flex;
        width:100%;
        align-items: center;
        justify-content: center;
        margin-top:20px;
        li{
            padding:0 12px;
            a{
                text-decoration: none;
                color:#000;
                font-size: 36px;
                &:hover{
                    color:#9a977a;
                }
            }
        }
    }
 
}