.About{
    &__inner{
        max-width:541px;
        text-align: center;
        font-size: 16px;
        padding:0 24px;
    }

    .paragraph-1{
        margin-top:20px;
    }
    .paragraph-2{
        margin-top:12px;
    }
}
.s-about{
    .col-item{
        width:50%;
    }
    @media(max-width:1023px){
        .TilesRow{
            // display: block;
        }
        .Tile__inner{
            padding-bottom: 100% !important;
        }
    }
}